.center {
	text-align: center;
}
#container {
	width: 400px;
	margin: 60px auto 0;
}
#entryinput {
	width: 100%;
}
#entrybutton {
	width: 250px;
	text-align: center;
	color: #0000ff;
	background-color: #c00;
	padding: 2em 0;
	margin: 25px auto;
	font-size: 25px;
	font-weight: bolder;
}